@media (max-width: 528px) {
  h3 {
    font-size: 14px;
  }

  p, .remove-button {
    font-size: 11px;
  }

  .cart-big-container {
    padding: 5px;
  }

  .cart-container {
    flex-direction: column;
  }

  .left-container {
    order: 2;
  }

  .right-container {
    order: 1;
  }

  .height {
    min-height: 100px;
  }

  .logo-image {
    height: 150px;
  }

  .cart-item-container {
    height: 110px;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 10px;
  }

  .cart-item-image-container {
    width: 80px;
    height: 80px;
    padding: 10px;
  }

  .cart-item-image-container img {
    height: 100%;
    width: 100%;
  }

  .cart-item-details-container {
    padding: 5px;
  }

  .cart-item-price {
    justify-self: end;
    color: #2a8703;
  }

  .counter-container {
    justify-content: space-between;
    margin-top: 10px;
  }

  .counter-container button {
    padding: 2px 6px 2px 6px;
  }
}

@media (min-width: 529px) and (max-width: 770px) {
  .cart-big-container {
    padding: 10px;
  }

  .left-container {
    width: 60%;
    padding: 5px;
  }

  .right-container {
    width: 30%;
    padding: 5px;
  }

  .height {
    min-height: 300px;
  }

  .logo-image {
    height: 200px;
  }

  .cart-item-container {
    height: 180px;
    width: 100%;
    padding: 6px;
    transition: 0.3s;
    margin-bottom: 10px;
  }

  .cart-item-image-container {
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  .cart-item-details-container {
    padding: 20px;
  }

  .counter-container {
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .counter-container button {
    padding: 2px 6px 2px 6px;
  }
}

@media (min-width: 771px) {
  .cart-big-container {
    padding: 10px;
  }

  .left-container {
    width: 60%;
    padding: 5px;
  }

  .right-container {
    width: 30%;
    padding: 5px;
  }

  .height {
    min-height: 500px;
  }

  .logo-image {
    height: 300px;
  }

  .cart-item-container {
    height: 180px;
    width: 100%;
    padding: 6px;
    transition: 0.3s;
    margin-bottom: 10px;
  }

  .cart-item-image-container {
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  .cart-item-details-container {
    padding: 20px;
  }

  .counter-container {
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .counter-container button {
    padding: 2px 6px 2px 6px;
  }
}

.cart-heading,
.cart-total {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}
  
.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-heading {
  align-items: start;
  margin-bottom: 20px;
}

.cart-container {
  display: flex;
  gap: 10px;
}  

.cart-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
}

.cart-item-image-details-container {
  display: flex;
}

.cart-item-image-container img {
  height: 100%;
  width: 100%;
}

.cart-item-price {
  justify-self: end;
  color: #2a8703;
}

.counter-container {
  display: flex;
  align-items: center;
}

.counter-container button {
  border: none;
  background-color: var(--btn-color);
  border-radius: 2px;
  color: white;
  cursor: pointer;
}