@media (max-width: 528px) {
  .navbar-nav {
    height: 110px;
    flex-direction: column;
    row-gap: 15px;
  }

  .nav-logo-container h2 {
    margin-right: 5px;
    font-size: 16px;
  }
}

@media (min-width: 529px) and (max-width: 770px){
  .navbar-nav {
    height: 60px;
    row-gap: 15px;
  }

  .nav-logo-container h2 {
    margin-right: 15px;
    font-size: 20px;
  }
}

@media (min-width: 771px) and (max-width: 2000px) {
  .navbar-nav {
    height: 60px;
    row-gap: 15px;
  }

  .nav-logo-container h2 {
    margin-right: 15px;
    font-size: 25px;
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo-container h2 {
  white-space: nowrap;
}

.nav-links-container {
  flex: 2;
  justify-content: space-evenly;
}

.nav-logo-container,
.nav-links-container,
.nav-search-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo-container {
  flex: 1;
}

.nav-links-container {
  flex: 2;
  justify-content: space-evenly;
}

.nav-search-cart-container {
  flex: 1;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-active {
  color: rgb(60, 68, 225);
  text-decoration: none;
}
