.navbar-nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.nav-logo-container,
.nav-links-container,
.nav-search-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo-container {
  flex: 1;
}

.nav-logo-container h2 {
  margin-right: 20px;
  font-size: 30px;
}

.nav-links-container {
  flex: 2;
  justify-content: space-evenly;
}

.nav-search-cart-container {
  flex: 1;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-active {
  color: rgb(60, 68, 225);
  text-decoration: none;
}
