@media (max-width: 528px) {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .home-header-container {
    width: 100%;
    flex-direction: column;
    padding: 5px;
  }

  .home-title-container > p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .home-image-container img {
    height: 200px;
    width: 160px;
  }

  .home-buy-button,
  .add-to-cart-button,
  .remove-button,
  .checkout-button {
    padding: 5px 15px;
  }

  .remove-button,
  .checkout-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .home-main-container {
    padding: 6px;
  }

  .home-for-you a {
    font-size: 11px;
  }
}


@media (min-width: 529px) and (max-width: 770px){
  h1 {
    font-size: 18px;
    white-space: nowrap;
  }

  .home-header-container {
    width: 100%;
    padding: 5px;
  }

  .home-title-container > p {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .home-image-container img {
    height: 200px;
    width: 180px;
  }

  .home-buy-button,
  .add-to-cart-button,
  .remove-button,
  .checkout-button {
    padding: 6px 16px;
  }

  .remove-button,
  .checkout-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-main-container {
    padding: 8px;
  }
}

@media (min-width: 771px) {
  h1 {
    font-size: 30px;
  }

  .home-header-container {
    width: 100%;
    padding: 5px;
  }

  .home-image-container,
  .home-title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-title-container > p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-image-container img {
    height: 200px;
    width: 330px;
  }

  .home-buy-button,
  .add-to-cart-button,
  .remove-button,
  .checkout-button {
    padding: 8px 15px;
  }

  .remove-button,
  .checkout-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-main-container {
    padding: 10px;
  }
}

.home-big-container {
  min-height: 100vh;
}

.home-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image-container,
.home-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title-container {
  display: block;
}

.home-image-container img {
  object-fit: contain;
}

.home-buy-button,
.add-to-cart-button,
.remove-button,
.checkout-button {
  border: none;
  color: var(--text-color);
  background-color: var(--btn-color);
  border-radius: 30px;
  border: 1px solid var(--text-color);
  transition: 0.30s;
  cursor: pointer;
}

.home-buy-button:hover,
.add-to-cart-button:hover,
.remove-button:hover,
.checkout-button:hover {
  background-color: var(--text-color);
  color: var(--btn-color);
  border: 1px solid var(--btn-color); 
}

.home-for-you {
  display: flex;
  justify-content: space-between;
}

.home-for-you a {
  text-decoration: none;
  color: black;
}

.home-for-you a:hover {
  color: red;
}
