@media (max-width: 528px) {
  .about-heading-container {
    flex-direction: column;
  }

  .about-heading-welcome-text-container p {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .about-heading-welcome-text-container {
    width: 100%;
    order: 2;
  }

  .about-heading-image-container {
    display: flex;
    order: 1;
    justify-content: center;
  }

  .about-main-container {
    padding: 30px;
  }

  .about-staff-text-container {
    margin-bottom: 20px;
    width: 40%;
  }

  .explore-button,
  .service-button {
    padding: 5px 10px;
  }

  .about-card {
    padding: 20px;
  }

  .card-heading {
    margin-bottom: 30px;
  }

  .about-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about-staff-image-container {
    order: 2;
    height: 200px;
  }
}

@media (min-width: 529px) and (max-width: 770px) {
  .about-heading-welcome-text-container p {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .about-main-container {
    padding: 30px;
  }

  .about-staff-text-container {
    margin-bottom: 20px;
    width: 40%;
  }

  .explore-button,
  .service-button {
    padding: 8px 16px;
  }

  .about-card {
    width: 250px;
    padding: 20px;
  }

  .card-heading {
    margin-bottom: 30px;
  }

  .about-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about-staff-image-container {
    height: 300px;
  }
}

@media (min-width: 771px) {
  .about-heading-welcome-text-container p {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .about-main-container {
    padding: 30px;
  }

  .about-staff-text-container {
    margin-bottom: 20px;
    width: 40%;
  }

  .explore-button,
  .service-button {
    padding: 10px 20px;
  }

  .about-card {
    width: 350px;
    padding: 20px;
  }

  .card-heading {
    margin-bottom: 30px;
  }

  .about-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about-staff-image-container {
    height: 400px;
  }
}

.about-big-container {
  min-height: 100vh;
}

.about-heading-container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-heading-welcome-text-container  {
  width: 100%;
}

.about-heading-image-container {
  display: flex;
  justify-content: center;
}

.explore-button,
.service-button {
  border: none;
  color: white;
  background-color: var(--btn-color);
  border-radius: 30px;
  border: 1px solid var(--text-color);
  transition: 0.30s;
  font-size: 15px;
  cursor: pointer;
}

.explore-button:hover,
.service-button:hover {
  background-color: white;
  color: var(--btn-color);
  border: 1px solid  var(--btn-color); 
}

.service-button {
  color: var(--btn-color);
  background-color: var(--text-color);
}

.service-button:hover {
  background-color: var(--btn-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.about-heading {
  text-align: center;
}

.services,
.staff {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-services-heading {
  margin-top: 40px;
}

.about-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.about-card {
  border-radius: 15px;
  background-color: var(--btn-color);
  color: var(--text-color);
}

.about-staff-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-staff-image-container img {
  height: 100%; 
}

.thankyou {
  margin-top: 20px;
}